.error {
  color: red;
}

.landing {
  text-align: center;
}
.navbar {
  background-color: 1A212D !important;
}

#app {
  background-color: F0EAE5;
	color: 'white';
}

#stack{
	background-color: 74818c;
}

.searchResults{
	background-color: 161d26;
	color: a6a292;
}

.descriptionPage{
	background-color: CACACA;
	color: CACACA;
}

.movieEntry {
  border-width: 3px;
  border-color: 566273;
  border-style: solid;
}

.col-md-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
