.error {
  color: red;
}

.landing {
  text-align: center;
}
.navbar {
  background-color: 1A212D !important;
}
.navbar-brand, .nav-link{
  color: white;
}

#app {
  background-color: F0EAE5;
	color: 'white';
}

#stack{
	background-color: 74818c;
}

.searchResults{
	background-color: 161d26;
	color: a6a292;
}

.descriptionPage{
	background-color: F0EAE5;
	color: black;
}

.movieEntry {
  border-width: 3px;
  border-color: 566273;
  border-style: solid;
}

.col-md-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.padding {
  margin-top: 50px;
}
.movieEntry:hover {
    background-color: #45223B;
    border-color: #cf3d0e;
    cursor: pointer;
}
.spin {
display: block;
margin: auto;
}
.icons {
	/* Layout Declarations */
	padding: 0;
	/* Appearance Declarations */
	list-style: none;
}
.icons > li {
  display: inline-block;
  padding: 5px;

}

/*Chat Room*/

.chat-box {
  float: right;
  height: 100%;
}

.chat-box-container {
  height: 600px;
}

.chat-box-panel {
  height: 100%;
}

.chat-row {
  height: 100%;
}

.chat-box-panel .chat-box-panel-body {
  height: 500px;
}

.chat-box-heading {
  float: right
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
